
.flex-container {
display: space-between;

}

.flex-container div {
    background: gray;
    border: 10px black;
    height: 100px;
}


body {

background-color: green;
color: yellow;
font-size: 100px;

}