
.flex-container {
display: flex;
justify-content: space-between;
align-items: flex-end;
flex-direction: row-reverse;


}

.flex-container div {
    background: gray;
    border: 10px black;
    height: 100px;
}


body {

background-color: green;
color: yellow;
font-size: 100px;

}